<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Servlet-Day6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>me</servlet-name>
    <servlet-class>MyServlet1</servlet-class>
    <init-param>
      <param-name>owner</param-name>
      <param-value>Ram s. Kumar</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>me</servlet-name>
    <url-pattern>/serv1</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <servlet-name>me1</servlet-name>
    <servlet-class>MyServlet2</servlet-class>
    <init-param>

      <param-name>owner</param-name>
      <param-value>Ram Kumar</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>me1</servlet-name>
    <url-pattern>/serv2</url-pattern>
  </servlet-mapping>
  
  
  
  <context-param>
      <param-name>ceo</param-name>
      <param-value>Geeta</param-value>
  </context-param>
  
  
</web-app>